<%- include('header') %> 

<body style="text-align: center;">

    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>

    <div class="box">
        <% newListItems.forEach(element => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="myCheckbox" value="<%= element._id %>" onchange="this.form.submit()">
                    <p class="item" name="itemName"><%= element.itemName %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
        <% }); %>
            
    
    
        <form class="item" action="/" method="post" style="padding-right: 20px;">
            <input type="text" class="newitem" name="AddItem" autofocus="autofocus" placeholder="New Item" autocomplete="off">
            <button type="submit" class="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>  

    <form action="/reset" method="post" style="text-align: center;">
        <button type="submit" class="reset box">Reset</button>
        <input type="hidden" name="listName" value="<%= listTitle %>">
    </form>
</body>

<%- include('footer') %> 